<% if notice %>
<p id="notice"><%= notice%></p>
<% end %>
<h2>Ваша корзина</h2>
<table>
	<% @cart.line_items.each do |item| %>
	<tr>
		<td><%= item.quantity %> &times;</td>
		<td><%= item.product.title%></td>
		<td class="item_price"><%= item.total_price %></td>
	</tr>
	<% end %>

	<tr class="total_line">
		<td colspan="2">Итого</td>
		<td class="total_cell"><%= @cart.total_price %></td>
	</tr>
</table>

<%= button_to 'Опустошить корзину', @cart, method: :delete, data: {confirm: 'Вы уверены?'} %>